

div.landing {
  background-image:url("background1.jpeg");
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}


h1 {
  color:white;
  display: flex;
  justify-content: flex-end;
  padding-right: 7%;
  padding-top: 9%;
  margin-top: 0;
}

.input-field input[type=checkbox] + label {
  color:white;
}

label {
  color:white;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  border: 2px solid white;
  color:white;
}

.input-field label {
  color: white;
}

div.input-field.col.s3.offset-s1 {
  top:15px;
}

input.select-dropdown {
  color: white;
}

p#moreInfo {
  margin: 0;
  color: #ffab40;
  font-size: 16px;
}

div.landing {
  margin-bottom: 30px;
}
